.input-field {
  position: relative;
  padding: 15px 0 0;
  margin: 2rem 0;
  input,
  textarea {
    text-indent: 15px;
  }
  textarea {
    min-height: 200px;
  }
  .error-label {
    color: $danger;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
  }
  .form-field,
  .textarea-form-field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border: 2px solid $secondary-color;
    outline: 0;
    font-size: 1.3rem;
    color: $black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown ~ .form-label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }

  .form-label {
    position: absolute;
    top: 8px;
    left: 5px;
    padding-left: 10px;
    font-size: 1rem;
    color: #757575;
    cursor: text;
    background-color: $primary-color;
  }

  .form-field:focus {
    border: 2px solid $secondary-color;
  }

  .form-field:focus,
  .textarea-form-field:focus,
  .form-field:active,
  .textarea-form-field:active {
    ~ .form-label {
      position: absolute;
      top: 8px;
      background-color: $primary-color;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $secondary-color;
      font-weight: 700;
    }
  }
  /* reset input */
  .form-field {
    &:required,
    &:invalid {
      box-shadow: none;
    }
  }
}
