.post-detail {
  @import "./comments/comments";
  @import "./postContent/postContent";

  width: 100%;
  .content {
    display: flex;
    flex-direction: row;
    .post-content,
    .comments-container {
      flex: 1 0 0;
      margin: 0 1rem;
    }
    @media screen and(max-width:992px) {
      flex-direction: column;
      .comments-container {
        margin-top: 40px;
      }
    }
  }
}
